<div class="surface-ground h-screen w-screen flex align-items-center justify-content-center" [ngClass]="{'p-input-filled': filledInput}">
    <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius:14px">
        <h1 class="font-bold text-2xl mt-0 mb-2">TogetherAndStronger</h1>
        <p class="text-color-secondary mb-4">Vivez d'incroyable activitées!</p>

        <span class="p-input-icon-left mb-4">
            <i class="pi pi-user"></i>
            <input type="text" pInputText placeholder="Email" class="w-full">
        </span>

        <span class="p-input-icon-left mb-4">
            <i class="pi pi-key z-2"></i>
            <p-password id="password" placeholder="Password" styleClass="w-full" [inputStyle]="{paddingLeft: '2.5rem'}" inputStyleClass="w-full" [toggleMask]="true" ></p-password>
        </span>

        <button [routerLink]="['/auth/verification']" pButton pRipple label="S'inscrire" class="mb-4"></button>

        <p class="text-color-secondary">Le mot de passe doit contenir au minimum: </p>
        <ul>
            <li>8 caractères </li>
            <li>1 Majuscule </li>
            <li>1 minuscule </li>
            <li>1 chiffre </li>
            <li>1 caractère spécial </li>
        </ul>
    </div>
</div>

<app-config [minimal]="true"></app-config>
